.cardAll{
    box-shadow: 0px 1px 4px 0.5px #198754;
}

.cardHeader{
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #515960 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    color: #aaa;
    text-align: center;
}

.cardBody{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #32383e;
    color: #aaa;
}

img{
    float: right;
    height: 15%;
    width: 15%;
}